	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png" type="image/x-icon" />
		
	{% if page.active == "productions" %}
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/grid.css" />
	<script src="{{ site.baseurl }}/assets/js/modernizr-custom.js"></script>
	{% endif %}

	{% if page.active == "productions-page" %}
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/tab_slide.css" />
	<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.css">
	<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.js"></script>
	<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% endif %}