			<!-- Header -->
					<h1 id="logo"><a href="../">USC NAI <span>Theater Workshop</span></a></h1>
					<nav id="nav">
						<ul>
							{% if page.active == "home" %}
							<li class="current"><a href="../">Welcome</a></li>
							{% else %}
							<li><a href="../">Welcome</a></li>
							{% endif %}

							{% if page.active == "about" %}
							<li class="current"><a href="../about/">About</a></li>
							{% else %}
							<li><a href="../about/">About</a></li>
							{% endif %}

							{% if page.active == "media" %}
							<li class="current submenu">
								<a href="../media/">Media & Links</a>
								<ul>
									<li><a href="../media/midsummer-press">Bottom's Dream - Press</a></li>
									<li><a href="../media/dombey-press">Dickens - Press</a></li>
								</ul>
							</li>
							{% else %}
							<li class="submenu">
								<a href="../media/">Media & Links</a>
								<ul>
									<li><a href="../media/midsummer-press">Bottom's Dream - Press</a></li>
									<li><a href="../media/dombey-press">Dickens - Press</a></li>
								</ul>
							</li>
							{% endif %}

							<li><a href="https://naidickens.blogspot.com" target="_blank">Nai @ Dickens</a></li>

							{% if page.active == "productions" %}
							<li class="current">
								<a href="../productions/">Productions</a>
							</li>
							{% else %}
							<li>
								<a href="../productions/">Productions</a>
							</li>
							{% endif %}

							{% if page.active == "students" %}
							<li class="current"><a href="../students/">Students & Parents</a></li>
							{% else %}
							<li><a href="../students/">Students & Parents</a></li>
							{% endif %}

							{% if page.active == "sub" %}
							<li class="current"><a href="../subscribe/" class="button special">Subscribe</a></li>
							{% else %}
							<li><a href="../subscribe/" class="button special">Subscribe</a></li>
							{% endif %}

						</ul>
					</nav>
