<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		{% include css_header.html %}
	</head>
	<body class="contact">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					{% include header.html %}
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-envelope"></span>
						<h2>Get In Touch</h2>
						<p>Use the form below to ask questions, leave comments, or send us jokes!</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 special container 75%">

							<!-- Content -->
								<div class="content">
									<form action="https://formspree.io/uscnaitheater@gmail.com"
									method="POST">
										<div class="row 50%">
											<div class="6u 12u(mobile)">
												<input type="text" name="name" placeholder="Name (required)" required/>
											</div>
											<div class="6u 12u(mobile)">
												<input type="text" name="email" placeholder="Email (required)" required/>
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<input type="text" name="subject" placeholder="Subject" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<textarea name="message" placeholder="Message" rows="7"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<ul class="buttons">
													<li><input type="submit" class="special" value="Send Message" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>

						</section>

				</article>

			<!-- Footer -->
				<footer id="footer">
					{% include footer.html %}
				</footer>

		</div>

		<!-- Scripts -->
			{% include scripts.html %}
	</body>
</html>