<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<title>{{ page.title }}</title>
	{% include css_header.html %}
</head>

<body class="no-sidebar demo-2">
	<div class="container">
		<header id="header">
			{% include header.html %}
		</header>
		<article id="main">

					<header class="special container">
						{% if page.active == "productions" %}
						<span class="icon fa-heart"></span>
						{% endif %}

						<h2>{{ page.no_header_header_text }}</h2>
					</header>

					<center><p>{{ content }}</p></center>



		<div class="content">
			<div class="grid">
				<div class="grid__item" data-size="1280x857">
					<a href="../images/bottom.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/bottom.jpg" alt="img06" />
						<div class="description description--grid">
							<h3>Bottom's Dream</h3>
							<p>In fifteen days, sixty South Los Angeles students studied and mounted a summer showcase based on Shakespeare’s famous romantic comedy of love gone awry: live theatrical scenes, a dumb show, a violinist, Donkey-Head art exhibit and free love potion for all.
							</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/copy-of-the-tempest-2" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1280x1280">
					<a href="../images/dombey.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/dombey.jpg" alt="img07" />
						<div class="description description--grid">
							<h3>Dickens Day & Night</h3>
							<p>USC NAI Dickens Day & Night 2016 was a campus-wide thematic learning experience based on the works and times of Charles Dickens. With the Dickens Project, the USC NAI Theater Workshop and Exploring the Arts, South LA seniors produced arts projects bringing their study of the novel, the annual Dickens Universe selection, to life.</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/copy-of-the-tempest-1" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1280x853">
					<a href="../images/twelfth.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/twelfth.jpg" alt="img08" />
						<div class="description description--grid">
							<h3>Twelfth Night</h3>
							<p>Twelfth Night, or What You Will is a comedy by William Shakespeare that centres on the twins Viola and Sebastian, who are separated in a shipwreck. Viola (who is disguised as a boy) falls in love with Duke Orsino, who in turn is in love with the Countess Olivia who thinks Viola is a man.</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/copy-of-the-tempest" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="865x1280">
					<a href="../images/tempest.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/tempest.jpg" alt="img09" />
						<div class="description description--grid">
							<h3>The Tempest</h3>
							<p>The Tempest is a play by William Shakespeare set on a remote island, where the sorcerer Prospero, rightful Duke of Milan, plots to restore his daughter Miranda to her rightful place using illusion and skilful manipulation.</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/the-tempest" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1280x1280">
					<a href="../images/pride2.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/pride2.jpg" alt="img10" />
						<div class="description description--grid">
							<h3>Pride & Prejudice</h3>
							<p>
								"It is a truth universally acknowledged, that a single man in possession of a good fortune must be in want of a wife."
							</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/pp" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1280x850">
					<a href="../images/writ.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/writ.jpg" alt="img11" />
						<div class="description description--grid">
							<h3>Writ in Water</h3>
							<p>
								Touch has a memory.
								Ironically, one of the greatest poets of the Romantic movement believed that his destiny was to be forgotten, so much so that he asked that his friends inscribe on his grave that--'Here lies one whose name was writ in water."
							</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/writ-in-water" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1280x853">
					<a href="../images/1.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/1.jpg" alt="img01" />
						<div class="description description--grid">
							<h3>Much Ado About Nothing</h3>
							<p>
								Count Benedick and Beatrice are suited to one another, but neither will admit it, and both swear to never marry. Their friends and family plot to get the two together by making them think that the other is madly in love with them- fooling them into admitting their feelings.</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/much-ado-about-nothing---take-two" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="958x1280">
					<a href="../images/carol2.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/carol2.jpg" alt="img02" />
						<div class="description description--grid">
							<h3>A Christmas Carol</h3>
							<p>
								A Christmas Carol by Charles Dickens tells the story of Ebenezer Scrooge, an old man who transforms his miserly ways after four ghostly visits one Christmas Eve.
							</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/christmas-carol" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="837x1280">
					<a href="../images/ham.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/ham.jpg" alt="img03" />
						<div class="description description--grid">
							<h3>HamLab</h3>
							<p>
								HamLab was a collaborative between the USC Neigborhood Academic Initiative, JEP, and English 430. Students studied Hamlet by William Shakespeare in depth before staging a performance of select passages from the play. 
							</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/hamlab-the-plays-the-thing" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1280x961">
					<a href="../images/shadow.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/shadow.jpg" alt="img04" />
						<div class="description description--grid">
							<h3>If We Shadows</h3>
							<p>
								The 2013 installation of the Summer Sketches Series with scenes from Brothers Karamazov(Doestoyevsky); Seagull (Chekhov) and Midsummer Night’s Dream (Shakespeare)
							</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/if-we-shadows" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1280x1131">
					<a href="../images/4.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/4.jpg" alt="img05" />
						<div class="description description--grid">
							<h3>Tartuffe</h3>
							<p>
								Orgon is a man of property duped by the false piety of the penniless Tartuffe. Orgon takes him into his house, believing him a paragon of virtue. His family tries to make him see reason but will they be able to before things get worse?
							</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/tartuffe" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1280x857">
					<a href="../images/6.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/6.jpg" alt="img06" />
						<div class="description description--grid">
							<h3>Shakespeare: Only in LA</h3>
							<p>
								Scenes from Taming of the Shrew, Macbeth and Twelfth Night
							</p>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1280x857">
					<a href="../images/romeo.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/romeo.jpg" alt="img06" />
						<div class="description description--grid">
							<h3>Romeo & Juliet</h3>
							<p>
								The classic tale of star-crossed lovers whose deaths ultimately reconcile their feuding families gets an uprgrade with a noir-twist.
							</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/romeo-and-juliet" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1280x857">
					<a href="../images/proj-shakes.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/proj-shakes.jpg" alt="img06" />
						<div class="description description--grid">
							<h3>Project Shakespeare</h3>
							<p>
								A night of monologues, sonnets and a fashion show inspired by various Shakespeare works. 
							</p>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1280x1280">
					<a href="../images/carol1.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/carol1.jpg" alt="img07" />
						<div class="description description--grid">
							<h3>A Christmas Carol</h3>
							<p>
								A Christmas Carol by Charles Dickens tells the story of Ebenezer Scrooge, an old man who transforms his miserly ways after four ghostly visits one Christmas Eve.
							</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/a-christmas-carol" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1280x853">
					<a href="../images/pride1.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/pride1.jpg" alt="img08" />
						<div class="description description--grid">
							<h3>Pride & Prejudice</h3>
							<p>
								"It is a truth universally acknowledged, that a single man in possession of a good fortune must be in want of a wife."
							</p>
							<div class="details">
								<ul>
									<a href="http://uscnai.wixsite.com/webs/pride-and-prejudice" target="_blank" class="red"><li><i class="icon fa-heart"></i><span class="red">See More</span></li></a>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="grid__item" data-size="865x1280">
					<a href="../images/ado1.jpg" class="img-wrap no-red" onclick="return false;"><img src="../images/ado1.jpg" alt="img09" />
						<div class="description description--grid">
							<h3>Much Ado About Nothing</h3>
							<p>
								Count Benedick and Beatrice are suited to one another, but neither will admit it, and both swear to never marry. Their friends and family plot to get the two together by making them think that the other is madly in love with them- fooling them into admitting their feelings.
							</p>
						</div>
					</a>
				</div>

			</div>
			<!-- /grid -->
			<div class="preview">
				<button class="action action--close"><i class="fa fa-times"></i><span class="text-hidden">Close</span></button>
				<div class="description description--preview"></div>
			</div>
			<!-- /preview -->
		</div>
		<!-- /content -->
	</div>
	</article>
	<!-- /container -->
	<footer id="footer">
		{% include footer.html %}
	</footer>

	{% include scripts.html %}
</body>

</html>