<!DOCTYPE HTML>
<html>
	<head>
		<title>USC NAI Theater Workshop</title>
		{% include css_header.html %}
	</head>
	<body class="index">

		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					{% include header.html %}
				</header>

			<!-- Banner -->
				<section id="banner">
					<ul class="cb-slideshow">
						<li><span>Image 01</span></li>
            		  	<li><span>Image 02</span></li>
            		  	<li><span>Image 03</span></li>
            		 	<li><span>Image 04</span></li>
            		  	<li><span>Image 05</span></li>
            		  	<li><span>Image 06</span></li>
            		</ul>
					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>USC NAI <br> Theater Workshop</h2>
						</header>
						<p>Bringing Literature to Life</p>
						<footer>
							<ul class="buttons vertical">
								<li><a href="#main" class="button small scrolly">Continue</a></li>
							</ul>
						</footer>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-star"></span> 
						<h2>The <strong>USC NAI Theater Workshop</strong> supports south LA students’ study of literature through the performing arts. 
						</h2>
						<p>The workshop seeks to go beyond the limits of a traditional classroom to inspire a love of <strong>literature and learning.</strong></p>
					</header>
					
					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="4u 12u(narrower)">

								<section>
										<!--<span class="icon featured fa-check"></span>-->
										<header>
											<span class="timer"></span>
											<h3>Pages Read</h3>
										</header>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<!--<span class="icon featured fa-check"></span>-->
										<header>
											<span class="timer2"></span>
											<h3>Productions</h3>
										</header>
									</section>

								</div>

								<div class="4u 12u(narrower)">

									<section>
										<!--<span class="icon featured fa-check"></span>-->
										<header>
											<span class="timer3"></span>
											<h3>Audience Members</h3>
										</header>
									</section>

								</div> 
							</div>
						</section>
					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row 50%">
								<div class="6u 12u(narrower)">
											<h2><strong>Facebook Feed</strong></h2>
											<div id="fb-root"></div>
											<script>(function(d, s, id) {
												var js, fjs = d.getElementsByTagName(s)[0];
												if (d.getElementById(id)) return;
												js = d.createElement(s); js.id = id;
												js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=158833400864969";
												fjs.parentNode.insertBefore(js, fjs);
											}(document, 'script', 'facebook-jssdk'));
											</script>
											<div class="fb-page" data-href="https://www.facebook.com/uscnaitheater" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-width="400px" data-height"500px" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/uscnaitheater" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/uscnaitheater">USC NAI Theater Workshop</a></blockquote></div>
								</div>
								<!--not sure if this will be needed
								    <footer>
										<ul class="buttons">
											<li><a href="#" class="button">Find Out More</a></li>
										</ul>
									</footer> -->
								<div class="6u 12u(narrower)">
									<h2><strong>Twitter Feed</strong></h2>
									<a class="twitter-timeline"
									 href="https://twitter.com/USCNAITheater" 
									 data-widget-id="509125172473769984"
									 width="400"
									 height="500"
									 margin-left:>
									 Tweets by @USCNAITheater
									</a>
									<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
								</div>
							</div>
						</section>



					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2><strong>Recent Productions</strong></h2>
							</header>

							<div class="row">
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="images/bottom.jpg" alt="" /></a>
										<header>
											<h3>Bottom's Dream</h3>
										</header>
										<p>In fifteen days, sixty South Los Angeles students studied and mounted a summer showcase based on Shakespeare’s famous romantic comedy of love gone awry: live theatrical scenes, a dumb show, a violinist, Donkey-Head art exhibit and free love potion for all.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="{{ site.baseurl }}/productions/dombey" class="image featured"><img src="images/dombey.jpg" alt="" /></a>
										<header>
											<h3>Dombey and Son</h3>
										</header>
										<p>USC NAI Dickens Day & Night 2016 was a campus-wide thematic learning experience based on the works and times of Charles Dickens. With the Dickens Project, the USC NAI Theater Workshop and Exploring the Arts, South LA seniors produced arts projects bringing their study of the novel, the annual Dickens Universe selection, to life.</p>
									</section>

								</div>
							</div>
							<div class="row">
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="images/twelfth.jpg" alt="" /></a>
										<header>
											<h3>Twelfth Night</h3>
										</header>
										<p>Twelfth Night, or What You Will is a comedy by William Shakespeare that centres on the twins Viola and Sebastian, who are separated in a shipwreck. Viola (who is disguised as a boy) falls in love with Duke Orsino, who in turn is in love with the Countess Olivia who thinks Viola is a man.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="images/tempest.jpg" alt="" /></a>
										<header>
											<h3>The Tempest</h3>
										</header>
										<p>The Tempest is a play by William Shakespeare set on a remote island, where the sorcerer Prospero, rightful Duke of Milan, plots to restore his daughter Miranda to her rightful place using illusion and skilful manipulation.</p>
									</section>

								</div>
							</div>

							<footer class="major">
								<ul class="buttons">
									<li><a href="{{ site.baseurl }}/productions/" class="button">See More</a></li>
								</ul>
							</footer>

						</section>

				</article>

			<!-- CTA -->
				<section id="cta">

					<header>
						<h2>Ready to do <strong>something</strong>?</h2>
						<p>Subscribe to get updates on new productions or events. Or send us a message if you're interested or have any questions.</p>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="{{ site.baseurl }}/subscribe/" class="button special">Subscribe</a></li>
							<li><a href="{{ site.baseurl }}/contact/" class="button">Contact Us</a></li>
						</ul>
					</footer>

				</section>

			<!-- Footer -->
				<footer id="footer">

					{% include footer.html %}

				</footer>

		</div>

		<!-- Scripts -->
			{% include scripts.html %}
	</body>
</html>