<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		{% include css_header.html %}
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					{% include header.html %}
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						{% if page.active == "about" %}
						<span class="icon fa-info-circle"></span>
						{% endif %}

						{% if page.active == "media" %}
						<span class="icon fa-laptop"></span>
						{% endif %}

						{% if page.active == "productions" %}
						<span class="icon fa-heart"></span>
						{% endif %}

						{% if page.active == "students" %}
						<span class="icon fa-graduation-cap"></span>
						{% endif %}

						{% if page.active == "subscribe" %}
						<span class="icon fa-heart"></span>
						{% endif %}

						<h2>{{ page.no_header_header_text }}</h2>
					</header>

					<!-- One -->
						<section class="wrapper style4 container">

							<!-- Content -->
								<div class="content">
									<section>
										<header>
										</header>
										<p>{{ content }}</p>
									</section>
								</div>

						</section>

					<!-- Two 
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>This is Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>Also Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<header>
											<h3>Probably Something</h3>
										</header>
										<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
										<footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer>
									</section>

								</div>
							</div>
						</section>-->

				</article>

			<!-- Footer -->
				<footer id="footer">
					{% include footer.html %}
				</footer>

		</div>

		<!-- Scripts -->
			{% include scripts.html %}
	</body>
</html>